@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

* {
    
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {

	font-family: 'Raleway', sans-serif;
	color: white;
}


h1{ 

    font-size: 55px;
    font-weight: 600;
    margin-bottom: 2%;
    
}

h2{

	font-weight: 500;
	margin-bottom: 3%;
}


p{

	font-size: 18px;
	font-weight: 100;
	line-height: 1.25em;
}


header{

	background-color:#f78e69 ;
	padding:6% 3% 4%;
	text-align: right;
}

.foto1 {

	background-image: url("../assets/img/uno.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding: 16.8% 0;
}

.foto2 {

	background-image: url("../assets/img/dos.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding: 16.8% 0;
	border-top: 23px solid #f78e69; 
}

.green {

	background-color: #abe188;
	border-top: 23px solid #f78e69; 
}

.text {
    
    background-color:#f78e69;
    text-align: center;
    margin: 4% 0 4% 25%;
    display: inline-block;
    padding: 4% 2% 2% 2%;


}

